@model IEnumerable<CinemaWebSystem.Models.Sessao>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Horario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filme.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SessaoId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.SessaoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
