@model CinemaWebSystem.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Senha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenhaCofirmada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenhaCofirmada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estudante)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estudante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClienteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
