@model CinemaWebSystem.Models.Cinema

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CinemaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
