@model IEnumerable<CinemaWebSystem.Models.Filme>

@{
    ViewData["Title"] = "Filmes";
}

<h2>Filmes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" style="height:400px;">
        <div>
            @{
                if (item.Imagem != null)
                {
                    var base64 = Convert.ToBase64String(item.Imagem);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    <img src="@imgsrc" class="img-thumbnail img-fluid" style="max-width:175px" />
                }
            }
        </div>
        <h4>
            @Html.DisplayFor(modelItem => item.Titulo)
        </h4>
        <h5>
            @Html.DisplayFor(modelItem => item.Genero.Descricao)
        </h5>
        @{
            var imgsrcClass = Classificacao.ClassificacaoImagens()[item.Classificacao];
            <img src="@imgsrcClass" style="max-width: 30px; padding-bottom: 10px" />
        }
        <div>
            <a asp-action="Edit" asp-route-id="@item.FilmeId">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.FilmeId">Delete</a>
        </div>
    </div>
    }
</div>
